@{
    ViewBag.Title = "Carritos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
        <div class ="card">
        </div>
        </div>
    </div>
</div>
