
@{
    ViewBag.Title = "IPC_Mensual";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">IPC_Mensuales</li>
</ol>



<div class="card">
    <div class="card-header">

        <i class="fas fa-users me-1"></i> Lista de IPC_Mensuales
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12"<
            <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
   </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Valor</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">IPC_Mensual</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="text" value="0" />

                <div class="row g-1">



                    <div class="col-sm-6">
                        <label for="txtvalor" class="form-label">Valor</label>
                        <input type="text" class="form-control" id="txtvalor" placeholder="12" autocomplete="off">
                    </div>


                </div>
                <div class="row mt-2">
                    <div class="col-12"
                    <div id="mensajeError" class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    @section scripts {
        <script>

        var tabladata;
        var filaSeleccionada;



        tabladata = $("#tabla").DataTable(
            {
                responsive: true,
                ordering: false,

                "ajax": {

                    url: '@Url.Action("ListarIPC_Mensuales", "Mantenedor")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "Valor" },
                   
                    
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                        "orderable": false,
                        "sercheable": false,
                            "width": "90px"
                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                }
            });

        function abrirModal(json) {


            $("#txtid").val(0);
            $("#txtvalor").val("");




            $("#mensajeError").hide();



            if (json != null) {

                $("#txtid").val(json.IdIPC_Mensual);
                $("#txtvalor").val(json.Valor);

            }

            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

             filaSeleccionada = $(this).closest("tr");


             var data =  tabladata.row(filaSeleccionada).data()

            console.log(data);

            abrirModal(data)

        })



        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var IPC_Mensualseleccionada = $(this).closest("tr");


            var data = tabladata.row(IPC_Mensualseleccionada).data()


            swal({
                title: "¿Está seguro?",
                text: "¿Desea eliminar la IPC_Mensual?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si, borrar",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {
                    jQuery.ajax({
                        url: '@Url.Action("EliminarIPC_Mensual", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdIPC_Mensual }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {


                            if (data.resultado) {


                                tabladata.row(IPC_Mensualseleccionada).remove().draw();
                            }

                            else {

                                swal("No se pudo eliminar", data.mensaje, "error")
                            }
                        },

                        error: function (error) {
                            console.log(error)
                        }



                    });
                });

                    console.log(data);



                });

        function Guardar() {

            var IPC_Mensual = {
                IdIPC_Mensual: $("#txtid").val(),
                Valor: $("#txtvalor").val(),


            }

            jQuery.ajax({
                url: '@Url.Action("GuardarIPC_Mensual", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: IPC_Mensual }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide")

                    //IPC_Mensual NUEVO
                    if (IPC_Mensual.IdIPC_Mensual == 0) {

                        if (data.resultado != 0) {

                            IPC_Mensual.IdIPC_Mensual = data.resultado;
                            tabladata.row.add(IPC_Mensual).draw(false);
                            $("#FormModal").modal("hide");



                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }


                    }

                    //IPC_Mensual EDITAR
                    else {

                        if (data.resultado) {

                            tabladata.row(filaSeleccionada).data(IPC_Mensual).draw(false);

                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {

                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }






                    }
                },

                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                },
            });




        }
        </script>
    }

